* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
}

#content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
    z-index: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
}

.ui {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    pointer-events: none;
}

/**

    Tool Menu

    */
/*
*
* Menu
*
*/
#el_tool_menu {
    width: 100%;
    height: 10%;
}

#el_tool_menu--main {
    width: 100%;
    height: 100%;
}

#el_tool_menu--content {
    width: 100%;
    height: 100%;

    background-color: black;
}